apiVersion: v1
stringData:
  key: thirty-two-random-bytes-12345678
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: london-etcd-encryption-key
  namespace: clusters
type: Opaque
