apiVersion: v1
stringData:
  # Note that (a) this isn't actually a secret; it's your public key, and (b) despite the name it
  # doesn't have to be an RSA key. In this example I'm using an ed25519 key.
  id_rsa.pub: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFVJHRH2xg2joG1xJIrNTalRkzT6BM8rQT+OXoFiKn16
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: london-ssh-key
  namespace: clusters
