apiVersion: v1
stringData:
  .dockerconfigjson: >-
    {
      "auths": {
        "cloud.openshift.com": {
          "auth": "...",
          "email": "alice@example.com"
        },
        "quay.io": {
          "auth": "...",
          "email": "alice@example.com"
        },
        "registry.connect.redhat.com": {
          "auth": "...",
          "email": "alice@example.com"
        },
        "registry.redhat.io": {
          "auth": "...",
          "email": "alice@example.com"
        }
      }
    }
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: london-pull-secret
  namespace: clusters
